* {
  font-family: 'Roboto', Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

h1 {
  text-align: center;
  margin: 50px 0;
  font-size: 40px;
}

button {
  margin-top: 0px;
}

button a {
  font-size: 20px;
  /* border: 1px solid black; */
  /* text-decoration: none; */
}
